---
import BrandLogo from './BrandLogo.astro';
---

<div class="page-loader" data-page-loader aria-hidden="true">
  <div class="page-loader__mark">
    <BrandLogo variant="mark" />
  </div>
  <span class="page-loader__line"></span>
</div>
